.ItemCount {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}
.ItemCount p {
    width: 50px;
    margin: auto 0;

}
.buttonCart {
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
     
}